body {
  background-color: white;
  color: #39c6c6;
  font-family: sans-sarif, serif;
  text-shadow: 1px 1px #ccffff;
}

button {
  width: 100px;
  height: 45px;
  font-size: 1.4em;
  background-color: white;
  font-family: sans-serif, serif;
  opacity: 0.8;
  color: #39c6c6;
  padding-top: 8px;
  border: 1px dashed #39c6c6;
  margin: 15px;
}

@-webkit-keyframes thumb {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

#clickGuess:hover,
#clickReset:hover {
  background-color: #39c6c6;
  color: white;
  border: 1px solid #39c6c6;
  margin-top: 4px;
  -webkit-animation-name: thumb;
  -webkit-animation-duration: 200ms;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: linear;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}

input {
  width: 60px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  margin-right: 20px;
  border-color: #39c6c6;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #39c6c6;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #39c6c6;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #39c6c6;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #39c6c6;
}

#displayLetters p {
  color: black;
  font-size: 29px;
  font-family: sans-serif-serif;
  letter-spacing: 6px;
  padding: 10px;
  color: black;
}

#displayLetters {
  width: 400px;
  margin-left: 295px;
  border-radius: 5px;
}

#displayWords {
  letter-spacing: 15px;
  font-size: 30px;
}

#showLetters {
  border: 1px solid #39c6c6;
}

canvas {
  float: left;
  border:1px solid black;
}

#gameAlerts, #gameAlerts2 {
  font-size: 30px;
  margin-bottom: 350px;
  width: 300px;
  position: absolute;
  float: left;
  margin-left:25px;
  color:blue;
}
#gameAlerts2 {
  font-size: 30px;
  width: 300px;
  position: absolute;
  float: left;
  margin-left:25px;
  margin-top:78px;
  color:red;
}
h1 {
  color:black;
}
